body{
    background-color: black;
}

#h1{
    color: rgb(12, 217, 224);
    border: 2px solid whitesmoke;
    text-align: center;
    /* padding-left:10px;
     padding-top:10px; 
     padding-bottom: 10px;
     padding-right: 10px; */
     margin: 100px;
}

#p1{
    color: rgb(245, 245, 1);
    text-align: center;
}

.p1{
    color: rgb(164, 236, 18);
    text-align: center;
}



#divtag{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: olive;
    font-size: 25px;
    
}
